<h1> About </h1>

<div class="lalitha">
	<img src="/images/lalitha.jpg">
</div>

<p> Smt. Lalitha Bhaskar has been learning carnatic music from the young age of 3. Shes the most awesome person on this planet. etc. etc. etc. fill the rest in here</p>